
{{taste-test-image image=test.image}}

{{#if (eq step 'question')}}
  <div class="button-container">
    <input
      class="input"
      type='text'
      oninput={{action (mut sample.answer) value="target.value"}}
      onkeydown={{action 'enter'}}
    >
    <button
      onclick={{action choose}}
    >Submit</button>
  </div>
{{/if}}
