
{{taste-test-image image=test.image}}


<div class="button-container">
  {{#each test.choices as |choice|}}
    <button {{ action choose choice.value bubbles=false }} style={{buttonStyle}}>{{choice.label}}</button>
  {{/each}}
</div>
