<button class="button" {{ action 'openModal' }}>{{title}}</button>

{{#if modalOpen}}
  {{#tether-dialog
    translucentOverlay=true
    close=(action 'closeModal')
    target='.container'
    targetAttachment='middle center'
    attachment='middle center'
    container-class='specifications-modal'
  }}
    <embed src={{src}} width="100%" height="100%">
  {{/tether-dialog}}
{{/if}}