<div class="container test-results">
{{log model}}
  {{#liquid-bind activeScreen use="toLeft" enableGrowth=false as |screen|}}
    {{ component screen.component
      allResults=model
      screen=screen
    }}
  {{/liquid-bind}}

</div>
