<div class="container test-results">
  {{#liquid-bind activeScreen use="toLeft" enableGrowth=false as |screen|}}
    {{ test-results
      allResults=model
      screen=screen
    }}
  {{/liquid-bind}}

</div>
