<div class="container test-results">

  {{#liquid-bind screen class="results-animations" use="toRight" enableGrowth=false as |screen|}}
    {{ component screen model=model sample=sample transition=(action closure) refresh=(route-action 'refresh')}}
  {{/liquid-bind}}

  <img src="assets/images/logo_small.png" alt="" class="lower-logo">
</div>
