<div class="container sample">


  {{#liquid-bind currentTest use="toLeft" as |test|}}
    {{ taste-test test=test choose=(action 'choose') click=(action 'start')}}
  {{/liquid-bind}}





  {{!--<img src="assets/images/logo_small.png" alt="" class="lower-logo">--}}
</div>
