@font-face{
font-family:veneer;
font-weight:normal;
src:url("fonts/veneer.otf");
}

@font-face{
font-family:treasured;
font-weight:normal;
src:url("fonts/treasured.otf");
}

@font-face{
font-family:faith;
font-weight:normal;
src:url("fonts/faith.otf");
}

@font-face{
font-family:din;
font-weight:normal;
src:url("fonts/din.otf");
}
