.screensaver{
  width: 1080px;
  height: 1920px;
  img{
    width: 100%;
  }
}

.information-cutsheet-container{
  position: absolute;
  top:2%;
  right:7%;
  z-index: 3;
  .information-cutsheet{
    display: inline-block;
  }
  .button{
    font-size:1em;
    border-radius:5px;
    border: 3px solid $blue;
    background-color: white;
    padding:.2em .5em;
  }
}

.specifications-modal{
  width: 90%;
  height: 90%;
  embed{

  }
}

.signup{
  overflow:hidden;
  width: 1080px;
  height: 1920px;
  border:1px solid grey;
  font-size:22px;
  font-family: Din, sans-serif;
  text-align: left;
  color:$grey;
  .logo-container{
    position: absolute;
    padding: 25px;
    z-index: 3;
    .logo{
      height: 125px;
    }
  }
  .diagonal{
    z-index: 2;
    position: absolute;
    width: 120%;
    left:-10%;
    height: 185px;
    top: -33px;
    background-color: white;
    transform:rotate(-4deg);
  }
  .header{
    background-color: $blue;
    position: relative;
    top: 50px;
    padding: 140px 25px 25px 25px;
    color:white;
  }
  .instructions{
    margin-top:75px;
    img{
      float:right;
      width:45%;
    }
    p{
      margin:0 0 1em 0;
      padding:0 1em;
    }
  }

  .form-container{
    max-height: 1290px;
    overflow:scroll;
    padding:1em;
    -ms-overflow-style: none;
    &::-webkit-scrollbar { width: 0 !important }

    .input{
      display: block;
      width: 100%;
      font-size:1em;
      margin:0 0 .5em 0;
      border-radius: 5px;
      border:1px solid $grey;
      padding:.3em;
    }
    .error{
      color:red;
      font-size:.6em;
    }
    .ember-power-select{
      width:100%;
      margin:1em 0;
      .ember-power-select-trigger{
        &:focus{
          outline:none;
        }

      }
    }
    .buttons{
      margin-bottom: 1em;
    }
    .submit{
      font-size:1em;
      background-color: $green;
      color:white;
      border-radius:10px;
      padding:.25em 2em;
      border:none;
      &:focus{
        outline:none;
        cursor:pointer;
      }
      &.back{
        background-color: $grey;
      }
    }


  }

  .flavor-list-animate{
    margin-bottom:1em;
    max-width: 100%;
  }

  .flavor-list{
    border:4px solid $blue;
    padding:.5em 1em;
    border-radius: 10px;
    font-size:.8em;
    .fa{
      // float:right;
    }
    h4{
      cursor:pointer;
    }
    h5{
      font-size:1.1em;
      margin:1em 0 .5em 0;
    }
  }

  .flavor{
    cursor:pointer;
    margin:.5em 0;

    &.featured{
      border:4px solid $blue;
      padding: 1em 1em;
      border-radius: 15px;
      margin-bottom: 1em;
    }
    input[type=radio] {
      border: 0px;
      width: 1.5em;
      height: 1.5em;
      vertical-align: sub;
    }

    .flavor-circle{
      position: absolute;
      right:5px;
      top:15px;
      width: 15%;
    }
    .flavor-name{
      display: inline-block;
      .tiny-k{
        height: .8em;
      }
      &.selected{
        color:$blue;
      }
    }
    .flavor-modal-trigger{
      display: inline-block;
      color:$blue;
      font-size:1.5em;
      vertical-align: sub;
      padding-right:.25em;
    }
    .flavor-details{
      padding:.25em 1em;
      .text{
        margin:0;
        margin-bottom:1em;
      }
    }
  }
}

.flavor-detail-modal{
  width: 50%;
  td:first-child{
    // text-align: right;
  }
  .table-header{
    margin-top:1em;
  }
  .yes{
    color:green;
  }
  .no{
    color:red;
  }
}

.badge-scan-button{
  font-size: 1.5em;
  background-color: transparent;
  border:5px solid $blue;
  width: 30%;
  display: block;
  margin:auto;
  border-radius: 15px;
}

.badge-scan-modal{
  font-size:2em;
  color:$blue;
  width:70%;
  text-align: center;
  .modal-content{
    padding: 2em;
  }
  input{
    height:0px;
    width:0px;
    &:focus{
      outline:none;
    }
  }
}


.submit-message{
  font-size:2em;
  padding:2em;
  text-align: center;
}
