<img src="{{ imagePath }}" alt="" class='text-image'>

<div class="button-container">
  <button {{ action choice 'en' }}>English</button>
  <button {{ action choice 'es' }}>Espanol</button>
</div>

{{!-- <p>Please choose your language to begin</p> --}}