<img src="{{ imagePath }}" alt="" class='text-image'>

<div class="button-container">
  <button {{ action choice 'en' }} class="language">English</button>
  <button {{ action choice 'es' }} class="language">Espanol</button>
</div>

{{!-- <p>Please choose your language to begin</p> --}}