{{taste-test-image image=screen.image}}


<div class="button-container">
  {{#each screen.choices as |choice|}}
    {{individual-test-result
      buttonStyle=buttonStyle
      screen=screen
      choice=choice
      allResults=allResults
    }}
  {{/each}}
</div>